myst-parser>=0.18.1
sphinx>=5.3.0
sphinx-copybutton>=0.5.1
sphinx-markdown-tables>=0.0.17
sphinx_rtd_theme>=1.1.1
sphinx_autodoc_typehints>=1.22
mindspore>=1.8.1
git+https://github.com/mindspore-lab/mindpose#egg=mindpose
